# Logging
import logging
loglevel = logging.DEBUG
logformat = '%(asctime)-15s %(message)s'

# MQTT Broker
broker = 'localhost'
port = 1883
username = None
password = None
lwt = None

# Twitter
consumer_key            = 'wwww'
consumer_secret         = 'xxxx'
token                   = 'yyyy'
token_secret            = 'zzzz'

# MQTT topics
topics = {
    'notification/warn',
    'notification/error',
}
